* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: #eeeeee;
    perspective: 300px;
}
button{
    position: absolute;
    border: none;
    padding: 20px 30px;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: red;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
button:active{
    scale: 1.15;
}
#main h1{
    position: absolute;
    /* z-index: -1; */
}