* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  width: 100%;
  background-color: black ;
}

h1{
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}
p, .text{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "DM Mono";
  font-size: .85rem;
  font-weight: 550;
  line-height: 1;
  display: inline-block;
}
.top,footer{
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  mix-blend-mode: difference;
  z-index: 2;
}
.top{
  display: flex;
  gap: 0.75rem;
}
footer{
  bottom: 0;
}

.clients{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem;
  overflow: hidden;
}

.clients-preview{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 75%;
  z-index: 0;
  pointer-events: none;
}
.client-img-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  will-change: clip-path;
  overflow: hidden;
}
.client-img-wrapper img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform, opacity;
}

.client-header p{
  position: relative;
  color: #acacac;
  z-index: 1;
}

.clients-list{
  position: relative;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem;
  mix-blend-mode: difference;
  z-index: 2;
}

.client-name{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* //Under line Animation */
.client-name::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-out;
}
.cilent-name:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}


#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.word h1 {
  color: black;
  font-size: 3rem;
  margin: 0;
}

/* Bullet train line */
.word::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.15rem;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

/* Train enters from left */
.word:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Train exits to right */
.word:not(:hover)::before {
  transform: scaleX(0);
  transform-origin: right;
} 