@font-face {
  font-family: font2;
  src: url(NeueMontreal-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: font2;
}

#main{
    height: calc(100% );
    width: 100%;
    background-color: black;
}
#main img{
    height: calc(100% );
    width: 100%;
    object-fit: cover;
}
#main .nav{
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2px;
    top: 50%;
    transform: translate(30%, -50%);
    padding: .5rem .1rem;
}
#main .nav i{
    font-size: 2.25rem;
    color: white;
    padding: 10px;
}
#main h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 5rem;
}