@font-face {
  font-family: font1;
  src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: font1;
  color: #f4f2ed;
  font-size: clamp(14px, 1.2vw, 18px);
}
body {
  background-color: #121212;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
section{
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section.view1 {
    width: 100%;
    padding: 4rem 0.7rem;
    @include flex-column(1rem);

    .top {
      width: 100%;
      border-radius: 10px;

      img {
        width: 100%;
      }
    }

    .bottom {
      width: 100%;
      @include flex-column(4rem);
      background-color: #1e1e1e;
      padding: 1rem 1.7rem;
      border-radius: 10px;

      h2 {
        font-size: 1rem;
        font-weight: 300;
      }

      .text {
        @include flex-column(.7rem);
        h1 {
          font-size: 2.5rem;
          line-height: 2.7rem;
          font-weight: 500;
        }
        p {
          font-size: 1.25rem;
          color: #f4f2edad;
          line-height: 1.75rem;
        }
        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    background-color: #f1a8a8;
    section {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom{
        justify-content: space-between;
        padding: 3rem;
        .text{
          gap: 1rem;
          h1{
            font-size: 3.87rem;
            line-height: 4rem;
          }
        }
      }
    }
  }
}
