* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   ;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #box{
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    border-radius: 15px;
    box-shadow: 0 0 60px rgb(253, 0, 186);
    background: 
    linear-gradient(0deg, black, white),
    conic-gradient( from 90deg, black,rgb(253, 0, 186), black, border-box);
    border: 5px solid white;
    color: white;
} */
:root { --a: 0deg; }

#box{
  width: 17vw;
  padding: 15px;
  border-radius: 15px;

  border: 5px solid transparent;
  background: 
    linear-gradient(#000,#000) padding-box,
    conic-gradient(from var(--a), rgb(253,0,186), black, rgb(253,0,186)) border-box;

  /* box-shadow: 0px 0px 35px rgb(253,0,186); */
    animation: rotate 4s linear infinite; /* rotate tu bolra tha handle karega */

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes rotate{
    form{
        --a: 0deg;
    }
  to{
       --a: 360deg;
  }
}