* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    /* BackgroundColor */
    --bg-toolbar-color: #1e1e1e;
    --bg-layers-color: #1a1a1a;
    --bg-canvas-color: #222;
    --bg-primary-color: rgb(27, 27, 27);
    --bg-secondary-color: rgb(240, 240, 240);

    /* Text Color */
    --text-primary-color: rgb(230, 230, 230);

    /* Spacing Variable */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --spcae-2xl: 40px;

    /* Thickness */
    --width-xs: 1px;
    --width-sm: 2px;
    --width-md: 4px;
    --width-lg: 8px;
    --width-xl: 12px;
    --width-2xl: 24px;

    /* Border Color */
    --bc-primary-color: #333;
    --bc-secondary-color: #ffffff5c;

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;

    /* Font Size */
    --font-xs: 1px;
    --font-sm: 2px;
    --font-md: 4px;
    --font-lg: 8px;
    --font-xl: 12px;
    --font-2xl: 24px;
}
body {
  background: var(--bg-primary-color);
  color: var(--bg-secondary-color);
}
#toolbar {
    padding: 10px;
    background: var(--bg-toolbar-color);
    border-bottom: 1px solid var(--bc-primary-color);
}

#toolbar button {
  margin-right: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

#editor {
  display: flex;
  height: calc(100vh - 50px);
}

#layers,
#properties {
  width: 200px;
  padding: 10px;
  background: var(--bg-layers-color);
  border-right: 1px solid var(--bc-primary-color);
}

#properties {
  border-right: none;
  border-left: 1px solid var(--bc-primary-color);
}

#canvas {
  flex: 1;
  background: var(--bg-canvas-color);
  position: relative;
}

.element {
  cursor: pointer;
}


.element.selected {
  outline: 2px solid #00e5ff;
}

.resize-handle {
  width: 8px;
  height: 8px;
  background: #00e5ff;
  position: absolute;
}

.resize-handle.tl { top: -4px; left: -4px; }
.resize-handle.tr { top: -4px; right: -4px; }
.resize-handle.bl { bottom: -4px; left: -4px; }
.resize-handle.br { bottom: -4px; right: -4px; }

.resize-handle {
  pointer-events: none;
}
