* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
html{
  background-color: rgb(16, 16, 16);
  color: rgb(246, 246, 246);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 1rem;
}
.note{
  max-width: 20rem;
  padding: 1.5rem 1rem;
  background-color: rgb(98, 98, 98);
  border-radius: 1.3rem;
  
}
.note .buttons{
  display: flex;
  gap: .5rem;
}
.note button{
  color:white;
  padding: .5rem 1rem;
  border: none;
  border-radius: 1rem;
  margin-top: 1rem;
}
.delete{
  background-color: red;
}
.edit{
  background-color: rgb(27, 150, 238);
}
.note-creation{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}
.note-creation input{
  padding: .9rem .6rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}
.note-creation button{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}