* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #151515;
  color: rgb(223, 223, 223);
}

.note-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.note-form input{
  background-color: #2e2e2e;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: rgb(223, 223, 223);
}
.note-form button{
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-shrink: 0;
  padding: 2rem;
}
.note{
  background-color: #2e2e2e;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
.note .btn{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.note .delete{
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.note .edit{
  background-color: #12a1f3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}