* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}
:root{
    /* BackgroundColor */
    --bg-primary-color: rgb(27, 27, 27);
    --bg-secondary-color: rgb(240, 240, 240);
    --bg-food-color: rgb(255, 52, 52);

    /* Text Color */
    --text-primary-color: rgb(230, 230, 230);

    /* Spacing Variable */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --spcae-2xl: 40px;

    /* Thickness */
    --width-xs: 1px;
    --width-sm: 2px;
    --width-md: 4px;
    --width-lg: 8px;
    --width-xl: 12px;
    --width-2xl: 24px;

    /* Border Color */
    --bc-primary-color: #858585;
    --bc-secondary-color: #ffffff5c;

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;

    /* Font Size */
    --font-xs: 1px;
    --font-sm: 2px;
    --font-md: 4px;
    --font-lg: 8px;
    --font-xl: 12px;
    --font-2xl: 24px;
}
.btn{
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--space-sm);
    border: none;
    text-transform: uppercase;
    font-size: var(--font-2xl);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav div{
    border: var(--width-xs) solid var(--bc-primary-color);
    padding: var(--space-sm);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--bc-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}
.box{
    /* height: 60px;
    width: 60px; */
    border: .5px solid var(--bc-secondary-color);
}

.fill{
    background-color: var(--bg-secondary-color);
}
.foody{
    background-color: var(--bg-food-color);
}
.modal{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .start-game, .modal .game-over{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal .game-over{
    display:none;
}
.btnEnd{
    background-color: var(--bg-food-color);
    color: var(--bg-secondary-color);
}