@font-face {
  font-family: font1;
  src: url(FoundersGrotesk-Semibold.woff);
}
@font-face {
  font-family: font2;
  src: url(NeueMontreal-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: font2;
}

#main{
    height: calc(100% );
    width: 100%;
    background-color: black;
}
#main img{
    height: calc(100% );
    width: 100%;
    object-fit: cover;
}
#main .nav{
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2px;
    top: 50%;
    transform: translate(30%, -50%);
    padding: .5rem .1rem;
}
#main .nav i{
    font-size: 2.25rem;
    color: white;
    padding: 10px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%,-50%);
    color: rgba(255, 255, 255, 0.783);
    font-size: 5rem;
    line-height: 4.5rem;
    font-weight: 200;
    /* background-color: blue; */
}

.text h1, .one h1{
  font-size: 8rem;
}
.one{
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.one span {
  font-family: font1;
  font-size: 13rem;
  background-image: linear-gradient(90deg, #FF3131, #FF914D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}